/* 
    Created on : 21/08/2023, 5:43:42 PM
    Author     : Giga P34
*/

#books {
    background-color: var(--mainColor);
    background-image: linear-gradient(-30deg, rgba(210, 251, 243, 1), white);
    min-height: 60vh;
    padding: 2rem;    
    margin: 2rem;
    border-radius: 1rem;
}

#books article {
    background-color: var(--bookPanel);
    display: flex;    
    margin: 0.2rem;
    height: 30vh;
    border-radius: 1rem;
    border: black solid 2px;
    overflow:hidden;
}

#books article img {
    width: 30%;
    height: 100%;
}

#books article summary {
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
    overflow: scroll;
}


