/* 
    Created on : 08/08/2023, 3:28:41 PM
    Author     : Nguyen Xuan Trung
*/
/*
html{
    padding : 0;
    margin: 0;
}

header{
    width:100%;
    margin : 0;
    padding: 0;
}

#top{
    background-color: #cccccc;    
    display:flex;   
    justify-content: space-between;
    margin : 0;
}

#top button{    
    display : block;
    width : 10%;
}

#top h2{    
    display: block;
    padding: 1rem;
    width: 90%;
}

nav{
    display: block;
    background-color: #caffee;    
}

h2{
    color : blue;
}

p{
    margin: 0;
}

a{
    display: block;
}

*/